@utility box-* {
  width: calc(var(--spacing) * --value(integer));
  height: calc(var(--spacing) * --value(integer));
}
@utility center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
