@import "tailwindcss";
@import "./styles/theme-default.css";
@import "./styles/viewTransitions.css";
@import "./styles/animation.css";
@import "./styles/fonts.css";
@import "./styles/scrollbar.css";
@import "./styles/chadcn.css";
@import "./styles/proseOverride.css";
@plugin "@tailwindcss/typography";
@config "../tailwind.config.ts";

html {
  /* always show scrollbar so width does not jump */
  overflow-y: scroll;
}

body {
  font-family: "Vazirmatn", system-ui, sans-serif;
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

input::placeholder {
  @apply text-zinc-500
}

textarea::placeholder {
  @apply text-zinc-500
}
